# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Vite / editor cache
.vite/
.vscode/

# Figma
.figma-cache/
src/app/components/figma/
src/imports/EducationSection/
src/imports/Frame9/
src/components/Archivos_animacion/
src/imports/Letras_en_PNG/
src/imports/Archivos_Actualizado/

# Other
*.zip
*.md
*.txt
*.b64

